In [3]:
import pandas as pd

In [4]:
files_to_clean =["./results/game_stats_english.csv", "./results/game_stats_random.csv", "./results/game_stats_vickrey.csv"]
new_directory = "clean_results/"

In [11]:
import pandas as pd

def assign_game_id(df):
    df['game_id'] = (df.index // 2) + 1
    df = df[['game_id'] + [col for col in df.columns if col != 'game_id']]
    return df

In [16]:
import pandas as pd

def clean_data(df):
    df['player_number'] = df.groupby('game_id').cumcount() + 1
    
    wide_df = df.pivot(index='game_id', columns='player_number', values=df.columns.difference(['game_id', 'player_number']))
    
    wide_df.columns = [f"P{col[1]}_{col[0]}" for col in wide_df.columns]
    wide_df = wide_df.reset_index()

    # merge num rounds
    wide_df['num_rounds'] = wide_df['P1_num_rounds']
    wide_df = wide_df.drop(columns=['P1_num_rounds', 'P2_num_rounds'])

    def determine_winner(row):
        if row['P1_loser'] == 1:
            return 2
        elif row['P1_loser'] == 2:
            return 2
    
    wide_df['winner'] = wide_df.apply(determine_winner, axis=1)
    wide_df = wide_df.drop(columns=['game_id', 'P1_loser', 'P2_loser', 'P1_player', 'P2_player', 'P1_seed', 'P2_seed'])
    
    return wide_df

df = pd.read_csv("./results/game_stats_english.csv")
df = df.reset_index(drop=True)
df = assign_game_id(df)

df_cleaned = clean_data(df)
df_cleaned['is_English'] = 1
df_cleaned['is_Random'] = 0
df_cleaned['is_Vickrey'] = 0

df_cleaned

,P1_neighborhood_completeness,P2_neighborhood_completeness,P1_passed_go_count,P2_passed_go_count,P1_properties_owned,P2_properties_owned,P1_risk,P2_risk,P1_total_rent_paid,P2_total_rent_paid,P1_wealth,P2_wealth,num_rounds,winner,is_English,is_Random,is_Vickrey
0,2.0,0.0,8,8,10,9,0,1,80,259,-100.0,165.19,61,2,1,0,0
1,0.0,0.0,5,4,8,8,0,1,48,64,220.0,-20.0,27,2,1,0,0
2,0.0,0.0,3,3,7,7,0,1,10,66,28.0,-28.0,23,2,1,0,0
3,0.0,0.0,1,3,5,6,0,1,0,16,-104.2,170.75,17,2,1,0,0
4,0.0,1.0,2,2,7,5,0,1,25,32,-3.0,111.47,17,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,0.0,2.0,79,83,13,15,-1,-1,1956,1878,6432.89,6455.94,587,2,1,0,0
44996,0.0,3.0,79,81,12,16,-1,-1,2254,1677,7047.64,6065.7,568,2,1,0,0
44997,1.0,0.0,81,74,16,12,-1,-1,1480,2025,6275.97,5859.74,508,2,1,0,0
44998,2.0,2.0,93,106,10,18,-1,-1,3835,1135,7750.38,7287.58,692,2,1,0,0
44999,2.0,1.0,103,98,15,13,-1,-1,2068,2507,8004.32,9064.18,711,2,1,0,0

In [17]:
df_2 = pd.read_csv("./results/game_stats_random.csv")
df_2 = df.reset_index(drop=True)
df_2 = assign_game_id(df_2)

df_cleaned_2 = clean_data(df_2)
df_cleaned_2['is_English'] = 0
df_cleaned_2['is_Random'] = 1
df_cleaned_2['is_Vickrey'] = 0
df_cleaned_2

,P1_neighborhood_completeness,P2_neighborhood_completeness,P1_passed_go_count,P2_passed_go_count,P1_properties_owned,P2_properties_owned,P1_risk,P2_risk,P1_total_rent_paid,P2_total_rent_paid,P1_wealth,P2_wealth,num_rounds,winner,is_English,is_Random,is_Vickrey
0,2.0,0.0,8,8,10,9,0,1,80,259,-100.0,165.19,61,2,0,1,0
1,0.0,0.0,5,4,8,8,0,1,48,64,220.0,-20.0,27,2,0,1,0
2,0.0,0.0,3,3,7,7,0,1,10,66,28.0,-28.0,23,2,0,1,0
3,0.0,0.0,1,3,5,6,0,1,0,16,-104.2,170.75,17,2,0,1,0
4,0.0,1.0,2,2,7,5,0,1,25,32,-3.0,111.47,17,2,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,0.0,2.0,79,83,13,15,-1,-1,1956,1878,6432.89,6455.94,587,2,0,1,0
44996,0.0,3.0,79,81,12,16,-1,-1,2254,1677,7047.64,6065.7,568,2,0,1,0
44997,1.0,0.0,81,74,16,12,-1,-1,1480,2025,6275.97,5859.74,508,2,0,1,0
44998,2.0,2.0,93,106,10,18,-1,-1,3835,1135,7750.38,7287.58,692,2,0,1,0
44999,2.0,1.0,103,98,15,13,-1,-1,2068,2507,8004.32,9064.18,711,2,0,1,0

In [19]:
df_3 = pd.read_csv("./results/game_stats_vickrey.csv")
df_3 = df.reset_index(drop=True)
df_3 = assign_game_id(df_3)

df_cleaned_3 = clean_data(df_3)
df_cleaned_3['is_English'] = 0
df_cleaned_3['is_Random'] = 0
df_cleaned_3['is_Vickrey'] = 1
df_cleaned_3

,P1_neighborhood_completeness,P2_neighborhood_completeness,P1_passed_go_count,P2_passed_go_count,P1_properties_owned,P2_properties_owned,P1_risk,P2_risk,P1_total_rent_paid,P2_total_rent_paid,P1_wealth,P2_wealth,num_rounds,winner,is_English,is_Random,is_Vickrey
0,2.0,0.0,8,8,10,9,0,1,80,259,-100.0,165.19,61,2,0,0,1
1,0.0,0.0,5,4,8,8,0,1,48,64,220.0,-20.0,27,2,0,0,1
2,0.0,0.0,3,3,7,7,0,1,10,66,28.0,-28.0,23,2,0,0,1
3,0.0,0.0,1,3,5,6,0,1,0,16,-104.2,170.75,17,2,0,0,1
4,0.0,1.0,2,2,7,5,0,1,25,32,-3.0,111.47,17,2,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44995,0.0,2.0,79,83,13,15,-1,-1,1956,1878,6432.89,6455.94,587,2,0,0,1
44996,0.0,3.0,79,81,12,16,-1,-1,2254,1677,7047.64,6065.7,568,2,0,0,1
44997,1.0,0.0,81,74,16,12,-1,-1,1480,2025,6275.97,5859.74,508,2,0,0,1
44998,2.0,2.0,93,106,10,18,-1,-1,3835,1135,7750.38,7287.58,692,2,0,0,1
44999,2.0,1.0,103,98,15,13,-1,-1,2068,2507,8004.32,9064.18,711,2,0,0,1

In [ ]:
merged_df = pd.concat([df_cleaned, df_cleaned_2, df_cleaned_3], axis=0, ignore_index=True)
merged_df

,P1_neighborhood_completeness,P2_neighborhood_completeness,P1_passed_go_count,P2_passed_go_count,P1_properties_owned,P2_properties_owned,P1_risk,P2_risk,P1_total_rent_paid,P2_total_rent_paid,P1_wealth,P2_wealth,num_rounds,winner,is_English,is_Random,is_Vickrey
0,2.0,0.0,8,8,10,9,0,1,80,259,-100.0,165.19,61,2,1,0,0
1,0.0,0.0,5,4,8,8,0,1,48,64,220.0,-20.0,27,2,1,0,0
2,0.0,0.0,3,3,7,7,0,1,10,66,28.0,-28.0,23,2,1,0,0
3,0.0,0.0,1,3,5,6,0,1,0,16,-104.2,170.75,17,2,1,0,0
4,0.0,1.0,2,2,7,5,0,1,25,32,-3.0,111.47,17,2,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134995,0.0,2.0,79,83,13,15,-1,-1,1956,1878,6432.89,6455.94,587,2,0,0,1
134996,0.0,3.0,79,81,12,16,-1,-1,2254,1677,7047.64,6065.7,568,2,0,0,1
134997,1.0,0.0,81,74,16,12,-1,-1,1480,2025,6275.97,5859.74,508,2,0,0,1
134998,2.0,2.0,93,106,10,18,-1,-1,3835,1135,7750.38,7287.58,692,2,0,0,1
134999,2.0,1.0,103,98,15,13,-1,-1,2068,2507,8004.32,9064.18,711,2,0,0,1

In [21]:
merged_df.to_csv("results/full_data.csv")